services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: faunaweb-backend
    environment:
      PORT: 3333
      DATABASE_URL: postgres://fauna_admin:fauna_secret@fauna-db:5432/fauna
      PGHOST: fauna-db
      PGPORT: 5432
      PGUSER: fauna_admin
      PGPASSWORD: fauna_secret
      PGDATABASE: fauna
      JWT_SECRET: supersegredo
    ports:
      - '3333:3333'
    networks:
      - fauna-network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_API_URL: '/api'
    container_name: faunaweb-frontend
    depends_on:
      - backend
    ports:
      - '8080:80'
    networks:
      - fauna-network

networks:
  fauna-network:
    external: true
    name: faunaweb_default
